{% extends "base.html" %}
{% load static %}
{% block title %}Set New Password{% endblock title %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-center">Password confirm</h3>
            <hr>
            <form method="post" novalidate class="shadow p-4 bg-white rounded">
                {% csrf_token %}
                
                {% for fm in form %}
                    <div class="mb-3">
                        {{ fm.label_tag }}
                        {{ fm }}
                        <small class="text-danger">{{ fm.errors|striptags }}</small>
                    </div>
                {% endfor %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}

                {% endif %}

                <div class="d-grid">
                    <button type="submit" class="btn btn-success">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
