{% extends "base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock title %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-sm-6 offset-sm-3">
            <form method="post" novalidate class="shadow-lg p-5 rounded bg-light">
                <h3 class="text-center text-dark mb-4">Reset Your Password</h3>
                <hr>
                {% csrf_token %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                {% for fm in form %}
                    <div class="mb-3">
                        {{ fm.label_tag }}
                        {{ fm }}
                        <small class="text-danger">{{ fm.errors|striptags }}</small>
                    </div>
                {% endfor %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}

                <div class="d-grid">
                    <button type="submit" class="btn btn-warning">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
